@import "config";
@import "btn";



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: black;
    width: auto;
  }
  
  .container {
    background-color: white;
    width: 60%;
    margin: auto;
    min-height: 300px;
    margin-top: 50px;
  }
  .container h1 {
    color: red;
    font-family: "Courier New", Courier, monospace;
    margin-left: 300px;
  }
  
  .inputcontainer {
    padding-left: 100px;
    margin-top: 50px;
  }
  .inputcontainer #taskInput {
    width: 300px;
  }

@media(max-width: 500px) {
    .container{
        min-height: 400px;
        width: 320px;
        margin-top: 150px;
        margin-left: 30px;
        position: relative;
        h1{
         color: $primarycolor;
         margin-left: 100px;
         font-size: 30px;
        }
    }
    .inputcontainer{
     background-color: green;
     min-height: 50px;
     max-width: 320px;
     padding-left: 15px;
     color: white;
    }
    input{
        width: 100px;
        height: 20px;
        margin-bottom: 10px;
        background-color: white;
    }
    #addBtn{
        margin-left: 30px;
        font-weight: 200;
        font-size: 20px;
    }
    #selectBtn{
        font-weight: 300;
        font-size: 20px;
    }
    #deleteBtn{
        font-weight: 300;
        font-size: 20px;
    }
}